apiVersion: apps/v1
kind: Deployment
metadata:
  name: react-frontend-deployment
  labels:
    app: react-frontend
spec:
  replicas: 2
  selector:
    matchLabels:
      app: react-frontend
  template:
    metadata:
      labels:
        app: react-frontend
    spec:
      containers:
        - name: react-frontend
          # Change this if you want a different repository name
          image: umair1987/react-frontend:latest
          imagePullPolicy: Always
          ports:
            - containerPort: 80
