apiVersion: v1
kind: Service
metadata:
  name: react-frontend-service
spec:
  selector:
    app: react-frontend
  type: LoadBalancer
  ports:
    - protocol: TCP
      port: 80 # Port exposed to the cluster
      targetPort: 80 # Port Nginx is listening on inside the container
